[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=172.31.7.41
Environment=CATALOGUE_HOST=172.31.12.185
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target