[Unit]
Description = Dispatch Service
[Service]
User=roboshop
Environment=AMQP_HOST=rabbitmq-dev.mithundevops.online
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop_amqp_password
ExecStart=/app/dispatch
SyslogIdentifier=dispatch

[Install]
WantedBy=multi-user.target